html{
	width: 100%;
}

* {
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

p {
	font-size: 20px;
}
nav{
	display:inline;
}
.navbar-brand img {
	height: 50px;
	float:left;

}
.navbar-brand h4{
	padding-top: 12.5px;
	font-weight: bold;
}


@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
	padding-right:50px!important; 
}
}
.banner {
	margin-top: 76px;
}
.banner .container-fluid {
	padding:0!important;
}
.about {
	padding:100px 30px 0px 30px;
	background:#ffffff; 
}
.about2 {
	padding:100px 50px 0px 50px;
}
.read{
	text-align: right;
	padding:10px 10px 0px 10px;
}

.read h5{
	display:inline;
	font-weight: bold;
	font-style:italic;
	text-align: center;
	line-height:30px;
	color:red;
}

.title {
	font-weight: bold;
	color:#D95644;
	margin:30px;
}



.test{
        position: relative;
        height: 100%;
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }
.swiper-slide span{
	margin:100px 50px;
}


.swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff;
      }

.swiper-slide {
        background-position: center!important;
        background-size: cover!important;
        width: 300px !important;
        height: 300px !important;
      }

.swiper-slide img {
        display: block;
        width: 100%;
      }
.story {
	background-color: #ffffff;
	padding-bottom:70px;
	text-align: center;
	padding: 50px;
	text-align:center;
	color:black;
}
.story p{
	font-size: 15px;
}
.product .card {
	background-color: #ffffff;
	padding: 20px 10px;
	margin-bottom: 10px;
}
.story img {
	width:100%;
	margin-bottom:20px;
}

.product img:hover {
	opacity: 0.8;
}
.product_name {
	padding: 10px;
}

video{
	width:1000px;
}
.read img{
	width:16px;
}
.story2{
	border-style: dotted;
	border-color: gray;
　border-top:5px black solid;　//上方邊框寬度設為 5px，顏色為黑色
　border-right:8px red double;　//右邊的邊框寬度設為 8px，顏色為紅色，樣式為 double
　border-left:7px yellow dotted;　//左邊的邊框寬度設為 7px，顏色為黃色，樣式為 dotted
　border-bottom:3px blue dashed;　//下方邊框寬度設為 3px，顏色為藍色，樣式為 dashed
　padding-bottom:30px;
}
.story2{
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 30px;
}
.story {
	padding: 0px;

	font-size: 15px;
}

.story span {
	font-size: 30px;
	display: block;
	margin-bottom: 50px;
	text-align: left;
}

.line{
	border: none;border-bottom:2px dotted gray
}
/*這是聯絡我們*/
.form{
  border-style: solid;
　border-top:5px;
　border-right:8px;
　border-left:7px ;　
　border-bottom:3px;
  border-color: #adb5bd;
  padding: 10px;
}
.title3{
	color: #D95644;
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}

/*這是框內文字*/
.form input {
	height: 40px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border-width:1px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
	font-style: bold;
	font-size: 20px;
}

.form textarea {
	height: 300px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border-width:1px;
	padding: 12px;
	font-size: 20px;
}

/*這是傳送*/
.send{
	text-align: right;
	padding:10px;
	border-color:#adb5bd;
}

.send span{
	display:inline;
	font-weight: bold;
	font-size: 25px;
}

footer span{
	font-size: 10px;
}
footer{
		text-align: center;
		margin-bottom: 20px;
}





